name: Benchmark

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  benchmark:
    strategy:
      fail-fast: false
      matrix:
        php:
          - 8.4
          - 8.5

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: opcache
          coverage: none
          ini-values: |
            opcache.enable_cli=1
            opcache.jit=tracing
            opcache.jit_buffer_size=64M

      - name: Install dependencies
        run: composer install --no-interaction --prefer-dist --optimize-autoloader

      - name: Run PHPBench
        run: php vendor/bin/phpbench run tests/Benchmark --report=aggregate
